
$background-color: #1F1F3B;
$font-dark-color: #232356;
$accent-color: #FCD526;
// $font-light-color: #E6E7E8;
$font-light-color: #f4f4f4;

$title-font: 'Work Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;